<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfMinesweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WpfMinesweeper.Properties.Settings>
      <setting name="LastLocation" serializeAs="String">
        <value>-300,-300</value>
      </setting>
      <setting name="TileBrushSolid" serializeAs="String">
        <value>#FF5F9EA0</value>
      </setting>
      <setting name="TileColor" serializeAs="String">
        <value>#FF5F9EA0</value>
      </setting>
      <setting name="LastWindowMinHeight" serializeAs="String">
        <value>261</value>
      </setting>
      <setting name="LastWindowMinWidth" serializeAs="String">
        <value>170</value>
      </setting>
      <setting name="LastWindowMinSize" serializeAs="String">
        <value>261,170</value>
      </setting>
    </WpfMinesweeper.Properties.Settings>
  </userSettings>
</configuration>
